@charset "utf-8";
/* 目錄 */
#bg-nav {
    background-color: #2b9dbc;
    padding:20px 20px 20px 15px;
    position: fixed;
    width: 100%;
    z-index: 100;
}
#bg-nav ul
{
    float: right;
}
#bg-nav li
{
    color: #333333;
    display: inline;
    list-style: none;
}
#bg-nav li a
{
    
    color: #333333;
    text-decoration-line: none;
    list-style: none;
    padding: 5px;
}
#bg-nav li:hover
{
    background-color:#e0f3ff;
    
}
#bg-nav li a:hover
{
    
    text-decoration-line: none;
    list-style: none;
}

/* 內容設定 */

#bg-about,#bg-exp {

    background-color: #e0f3ff;
    float: left;
}

#bg-skill,#bg-pro {

    background-color: rgb(182, 234, 250);
    display: block;
    float: left;
}
#bg-about
{
    padding: 60px 0 0 0;
    
}
#header
{
    max-width: 500px;
    margin: 0 auto;
}
#headerpic{
    display:block;
    overflow:hidden;
    float: left;

}
#header img{

    border-radius:5%;
}
#headerbox{
    width: 100%;
    padding-top: 30px;
}

#headerbox h2,h3{
    margin:15px 0;
}

#headerbox li{
    margin: 10px 0;
}